
.card-deck{
    margin-top: 10%;
    text-decoration: none;
}
.card{
    border: solid 2px;
    text-decoration: none;
}
.card-body{
    text-decoration: none;
}
.container{
    text-decoration: none;
}

